<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="CommPort" value=""/>
      <add key="BaudRate" value=""/>

      <add key="ExternalTerminal" value="Y"/>
      <add key="TerminalApp" value="putty"/>
      <add key="TerminalAppArgs" value="-load &quot;repl&quot; -serial "/>

      <add key="EditorFont" value=""/>
      <add key="EditorFontSize" value=""/>
      <add key="ExplorerColor" value = "202, 225, 174" />
      <!-- Examples: MistyRose, PaleGoldenrod, LemonChiffon, PowderBlue, "202, 225, 174" -->
      <add key="EditExtensions" value="py,txt,html,json,js,css"/>
      <add key="TerminalFont" value="Courier New"/>
      <add key="TerminalFontSize" value="10"/>
      <add key="SaveDir" value=""/>
      <add key="UniqueSessions" value="N" />
      <add key="MarkerText" value=">>>" />
      
      <add key="HelpLinkCount" value="4"/>
      <add key="HelpTitle1" value="README.TXT"/>
      <add key="HelpLink1" value="readme.txt"/>
      <add key="HelpTitle2" value="Device Pinout"/>
      <add key="HelpLink2" value="WemosD1MiniMicropythonPins.png"/>
      <add key="HelpTitle3" value="Micropython ESP8266 Docs"/>
      <add key="HelpLink3" value="http://docs.micropython.org/en/latest/esp8266/"/>
      <add key="HelpTitle4" value="Python 3 Docs"/>
      <add key="HelpLink4" value="https://docs.python.org/3/"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>