<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <!-- Permanent settings to always use.  Leave blank to select at startup -->
      <add key="CommPort" value=""/>
      <add key="BaudRate" value=""/>

      <!-- Main application settings-->
      <add key="SaveDir" value=""/>
      <add key="UniqueSessions" value="N" />
      <add key="DirectoryFont" value="Consolas"/>
      <add key="DirectoryFontSize" value="14"/>
      <add key="ExplorerColor" value = "Moccasin" />
      <add key="EditExtensions" value="py,txt,html,json,js,css"/>

      <!-- Editor settings -->
      <add key="EditorFont" value="Inconsolata"/>
      <add key="EditorFontSize" value="12"/>
      <add key="Python.Keywords" value="False await else import pass None break except in raise True class finally is return and continue for lambda try as def from nonlocal while assert del global not with async elif if or yield" />
      <add key="Python.Default.ForeColor" value="0, 0, 127"/>
      <add key="Python.CommentLine.ForeColor" value="Silver"/>
      <add key="Python.Number.ForeColor" value="0, 127, 127"/>
      <add key="Python.String.ForeColor" value="127, 0, 127"/>
      <add key="Python.Character.ForeColor" value="127, 0, 127"/>
      <add key="Python.Word.ForeColor" value="0, 0, 0"/>
      <add key="Python.Triple.ForeColor" value="127, 0, 0"/>
      <add key="Python.TripleDouble.ForeColor" value="127, 0, 0"/>
      <add key="Python.ClassName.ForeColor" value="0, 0, 127"/>
      <add key="Python.DefName.ForeColor" value="0, 0, 127"/>
      <add key="Python.Identifier.ForeColor" value="0, 0, 127"/>
      <add key="Python.CommentBlock.ForeColor" value="96, 96, 96"/>
      <add key="Python.StringEol.ForeColor" value="0, 0, 127"/>
      <add key="Python.StringEol.BackColor" value="224, 192, 224"/>
      <add key="Python.Word2.ForeColor" value="0, 0, 127"/>
      <add key="Python.Decorator.ForeColor" value="128, 80, 0"/>

      <!-- REPL Settings -->      
      <add key="TerminalFont" value="Courier New"/>
      <add key="TerminalFontSize" value="12"/>
      <add key="TerminalBackColor" value="Black"/>
      <add key="TerminalForeColor" value="DarkSeaGreen"/>
      <!-- Use the integrated serial terminal or launch an external app -->
      <add key="ExternalTerminal" value="N"/>
      <!-- PUTTY EXAMPLE 
      <add key="TerminalApp" value="putty"/>
      <add key="TerminalAppArgs" value="-load &quot;repl&quot; -serial {PORT}"/>
      <add key="TerminalAppTitle" value="PuTTY" />
      -->
      <!-- TERATERM EXAMPLE 
      <add key="TerminalApp" value="ttermpro.exe"/>
      <add key="TerminalAppArgs" value="/C={PORTNUM}"/>
      <add key="TerminalAppTitle" value="Tera" />
      -->

      <!-- Configurable items for the help dropdown -->
      <add key="HelpLinkCount" value="5"/>
      <add key="HelpTitle1" value="README.TXT"/>
      <add key="HelpLink1" value="readme.txt"/>
      <add key="HelpTitle2" value="Device Pinout"/>
      <add key="HelpLink2" value="WemosD1MiniMicropythonPins.png"/>
      <add key="HelpTitle3" value="Micropython ESP8266 Docs"/>
      <add key="HelpLink3" value="http://docs.micropython.org/en/latest/esp8266/"/>
      <add key="HelpTitle4" value="Python 3 Docs"/>
      <add key="HelpLink4" value="https://docs.python.org/3/"/>
      <add key="HelpTitle5" value="Python Cheatsheet"/>
      <add key="HelpLink5" value="cheatsheet01.jpg"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>